<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <% include ('partials/nav') %>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><% if ( locals.user ) { %><%= user.name %>'s <% } %>Guitar Inventory</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/guitars">My Guitars</a></li>
                <% if ( locals.isAuthenticated === true ) { %>
                <li><a href="/logout">Logout</a></li>
                <% } %>
                <% if ( locals.isAuthenticated === false ) { %>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
  
    <div class="container">
        <h1 class="header">Guitar Inventory</h1>
        <a class="btn" href="/guitars"><i class="material-icons right">arrow_forward</i>Get started!</a>
    </div>
</body>
</html>